<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Lab 13</title>
	<link rel="stylesheet" href="main.css" />
</head>

<body>
	<h1>View2</h1>
	<h3>
	¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?
	</h3>
	<p>Ventajas: puedes tomar ventaja de aplicaciones ya creadas y datos de terceros</p>
	<p>Desventajas: las transacciones son lentas, puede constar dinero y esta limitado a la información que puede sostener</p>
</body>

</html>